In [2]:
import snappy
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [3]:
df_path = r'\data\dataset1.csv'
clean_df_path = r'\data\dataset_clean.csv'
home_path = r'F:\workspace\jupyterNotebooks\Remote Sensing\ISRO'
chunk_size = 1e6

In [4]:
processed_df = pd.DataFrame(columns=['X','Y'])
i = 1

In [5]:
for chunk in pd.read_csv(home_path+df_path, chunksize=chunk_size):
    chunk.drop(chunk[chunk['X'] == 0.0].index, inplace = True)
    processed_df = pd.concat([processed_df,chunk])
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121

In [6]:
processed_df.head()

          X  Y
816  0.0637  0
817  0.0596  0
818  0.0521  0
819  0.0536  0
820  0.0658  0

In [7]:
if False:
    processed_df.to_csv(home_path+r'\data\dataset_clean.csv',header=True, index=False)

In [13]:
processed_df.Y.value_counts()

0    117789684
1      1165044
Name: Y, dtype: int64

In [9]:
#for chunk in pd.read_csv(home_path+clean_df_path, chunksize=chunk_size):